@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
* {box-sizing: border-box}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s ease-in-out forwards;
    background-image: url("../images/today_background.jpg");
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
}

.start_btn {
    width: 140px;
    height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.start_btn:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.select {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

input[type=radio] {
    visibility: hidden;
}

label {
    cursor: pointer;
    display: flex;
}

input[type=radio]:checked + label {
    border: 3px solid red;
    border-radius: 100px;
}

.next_btn {
    width: 140px;
    height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.next_btn:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.logo {
    cursor: pointer;
}

.navbar {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    padding: 10px;
    margin: 0;
    display: flex;
}

.right {
    display: flex;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.login_txt {
    float: right;
    text-decoration: none;
    margin-left: 90%;
    color: black;
}

.right a:hover {
    color: #484eff;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.login_form {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.login_form input {
  background: none;
  appearance: none;
  border: 0;
  font-size: 22px;
  color: black;
    width: 100%;
  border-bottom: 2px solid black;
  text-align: center;
  margin-bottom: 8%;
}

.login_form input::placeholder {
  color: black;
  text-align: center;
}

.login_form input:focus,
.login_form input:active {
  outline: none;
}

.login_btn {
    padding: 16px 30px;
    border: none;
    border-radius: 100px;
    width: 30%;
    text-align: center;
    font-size: large;
    cursor: pointer;
    color: white;
    background-color: #8eefcf;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.login_btn:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.login_btn:focus,
.login_btn:active {
  outline: none;
}

.go_signup {
    text-decoration: none;
    color: blue;
}

.login_bottom_text {
    margin-top: 2%;
}

.username_input {
    margin-top: 7%;
}

.error_field {
    color: blue;
}

.error {
    color: red;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}