@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
* {box-sizing: border-box}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s ease-in-out forwards;
    background-image: url("../images/today_background.jpg");
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
}

.start_btn, .next_btn {
    width: 140px;
    height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.start_btn:hover, .next_btn:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.answer-form {
    width: 45%;
}
/* ------------------weather, mood--------------------- */
ul {
    display: flex;
    width: 100%;
    margin: 0;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 5%;
}

li {
    display: inline-block;
}

input[type=radio] {
    visibility: hidden;
}

label {
    cursor: pointer;
    display: flex;
}

input[type=radio]:checked + label {
    border-bottom: 3px solid black;
    animation: fadeIn 1s ease-in-out forwards;
}
/* ------------------navigation bar--------------------- */
.logo {
    cursor: pointer;
}

.navbar {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    padding: 10px;
    margin: 0;
    display: flex;
}

.right {
    display: flex;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.login_txt {
    float: right;
    text-decoration: none;
    margin-left: 90%;
    color: black;
}

.username_txt {
    float: right;
    text-decoration: none;
    margin-left: 80%;
    color: black;
}

.logout_txt {
    float: right;
    text-decoration: none;
    margin-left: 3%;
    color: black;
}

.right a:hover {
    color: #484eff;
    animation: fadeIn 0.5s ease-in-out forwards;
}
/* ------------------login, sign up--------------------- */
.login_form {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.login_form input {
  background: none;
  appearance: none;
  border: 0;
  font-size: 22px;
  color: black;
    width: 100%;
  border-bottom: 2px solid black;
  text-align: center;
  margin-bottom: 8%;
}

.login_form input::placeholder {
  color: black;
  text-align: center;
}

.login_form input:focus,
.login_form input:active {
  outline: none;
}

.login_btn {
    padding: 16px 30px;
    border: none;
    border-radius: 100px;
    width: 30%;
    text-align: center;
    font-size: large;
    cursor: pointer;
    color: white;
    background-color: #8eefcf;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.login_btn:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.login_btn:focus,
.login_btn:active {
  outline: none;
}

.go_signup {
    text-decoration: none;
    color: blue;
}

.login_bottom_text {
    margin-top: 2%;
}

.username_input {
    margin-top: 7%;
}
/* ------------------form error--------------------- */
.error_field {
    color: blue;
}

.error {
    color: red;
}
/* ------------------wake up--------------------- */
.wake_up_input {
    border: none;
    border-bottom: 1px solid black;
    background: none;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    width: 40%;
    text-align: center;
    font-size: xx-large;
    font-family: "Noto Sans KR", sans-serif;
}
/* ------------------did_well, happiness, meal--------------------- */
.text-form {
    width: 55%;
}

.text-form input {
  background: none;
  appearance: none;
  border: 0;
  font-size: 22px;
  color: black;
  width: 100%;
  border-bottom: 2px solid black;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.text-form input::placeholder {
  color: black;
  text-align: center;
}

.text-form input:focus,
.text-form input:active {
  outline: none;
}

#breakfast, #lunch {
    margin-bottom: 0%;
}

#breakfast, #lunch, #dinner {
    width: 90%;
}
/* ------------------animation--------------------- */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* ------------------my page--------------------- */
.my-page-container {
    width: 95%;
    height: 80%;
    background: rgba(255, 255, 255, 0.47);
    border: none;
    border-radius: 10px;
    margin-top: 5%;
}

.left {
    font-size: xx-large;
    text-align: left;
    padding-left: 2%;
    padding-top: 2%;
}

.profile-box {
    background: white;
    border: none;
    border-radius: 10px;
    width: 35%;
    height: 80%;
    float: left;
    align-self: center;
    margin-top: 2%;
    margin-left: 2%;
    display: block;
}

.profile-box img {
    border: none;
    margin-top: 5%;
    width: 20%;
    height: 20%;
}

.profile-content {
    margin-top: 4%;
    margin-left: 5%;
    margin-bottom: 8%;
}

.profile-content span {
    font-size: large;
}

.profile-content div {
    margin-bottom: 1%;
}

.small-label {
    color: #a3a3a3;
    font-size: small;
    margin: 0;
}

.edit-profile {
    padding: 16px 25px;
    border: none;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    font-size: medium;
    cursor: pointer;
    color: white;
    background-color: #8eefcf;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.edit-profile:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.edit-profile:focus,
.edit-profile:active {
  outline: none;
}

.mytoday-box {
    float: right;
    width: 60%;
    height: 80%;
    border: none;
    border-radius: 10px;
    margin-right: 2%;
    margin-top: 2%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: scroll;
}

.today-container {
    margin-top: 2%;
    margin-left: 2%;
    display: inline-block;
    flex-direction: row;
    padding: 10px 20px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: large;
    cursor: pointer;
    color: black;
}

.today-container a {
    text-decoration: none;
    color: black;
}
/* ------------------edit profile--------------------- */
.edit-profile-form {
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.filebox {
    display: block;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    float: left;
    width: 40%;
}

.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}

.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

.filebox img {
    margin-top: 3%;
    display: block;
    margin-bottom: 3%;
    width: 50%;
    height: 50%;
    overflow: hidden;
    box-shadow: 0px 15px 20px rgba(157, 158, 157, 0.4);
}

.textbox {
    float: right;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.textbox input {
    padding: 2%;
    border: none;
    background: white;
    border-radius: 10px;
    width: 80%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: large;
}

.save_btn {
    padding: 16px 25px;
    border: none;
    border-radius: 10px;
    width: 30%;
    margin-top: 8%;
    text-align: center;
    font-size: large;
    cursor: pointer;
    color: white;
    background-color: #8eefcf;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.save_btn:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.save_btn:focus,
.save_btn:active {
  outline: none;
}
/* --------------------detail----------------------- */
.top {
    display: flex;
}

.date {
    display: flex;
    text-align: center;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.weather {
    margin-left: 4%;
}

.mood {
    margin-left: 2%;
}

.detail-content {
    background: white;
    border-radius: 10px;
    width: 45%;
    height: 60%;
    float: left;
    margin-left: 4%;
    margin-top: 3%;
}

.content-color {
    background: #f1c40f;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 20%;
}

.question {
    font-size: smaller;
    color: #5f5f5f;
    margin-top: 3%;
    margin-left: 3%;
}

.answer {
    margin-bottom: 3%;
    margin-left: 3%;
}

.meal-box {
    float: right;
    width: 40%;
    margin-right: 4%;
    margin-left: 4%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.meal-text {
    font-size: x-large;
    margin-left: 2%;
    margin-top: 2%;
}

.menu-text {
    font-size: large;
    margin-left: 2%;
    color: black;
}

.breakfast-box {
    width: 90%;
    height: 28%;
    border-radius: 10px;
    color: #27ae60;
    background: white;
    margin-bottom: 5%;
}

.breakfast-text {
    float: right;
    width: 20%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background: #27ae60;
}

.lunch-box {
    width: 90%;
    height: 28%;
    border-radius: 10px;
    color: #2980b9;
    background: white;
    margin-bottom: 5%;
}

.lunch-text {
    float: right;
    width: 20%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background: #2980b9;
}

.dinner-box {
    width: 90%;
    height: 28%;
    border-radius: 10px;
    color: #e67e22;
    background: white;
}

.dinner-text {
    float: right;
    width: 20%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background: #e67e22;
}