{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="my-page-container">
        <div class="left">
            Edit Profile
        </div>
        <form method="post" class="edit-profile-form" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'form_errors.html' %}
                <div class="filebox">
                    <span class="small-label">Profile image</span>
                    {% if person.image.url %}
                    <img src="{{ person.image.url }}">
                    {% else %}
                    <img src="{% static 'images/profile_image' %}">
                    {% endif %}
                    <label for="profile_image">Choose image</label>
                    <input type="file" id="profile_image" name="profile_image" value="{{ form.image.value|default_if_none:'' }}" accept="image/*">
                </div>

                <div class="textbox">
                    <label for="username" class="small-label">Username</label>
                    <input type="text" placeholder="{{ user.username }}" name="username" id="username" value="{{ form.username.value|default:user.username }}" maxlength="15">
                    <label for="nickname" class="small-label">Name</label>
                    <input type="text" placeholder="{% if person.nickname %}{{ person.nickname }}{% else %}blank{% endif %}" name="nickname" id="nickname" value="{{ form.nickname.value|default:person.nickname }}">
                    <label for="email" class="small-label">Email</label>
                    <input type="email" placeholder="{{ user.email }}" name="email" id="email" value="{{ form.email.value|default:user.email }}">
                    <button type="submit" class="save_btn">Save</button>
                </div>

        </form>
    </div>
{% endblock %}
