{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="my-page-container">
        <div class="left">
            DashBoard
        </div>
        <div class="profile-box">
            <div class="center">
                {% if person.image %}
                    <img src="{{ person.image.url }}">
                {% else %}
                    <img src="{% static 'images/profile_image.png' %}">
                {% endif %}
            </div>
            <div class="profile-content">
                <div>
                    <p class="small-label">Username</p>
                    <span>{{ user.username }}</span>
                </div>
                <div>
                    <p class="small-label">Name</p>
                    <span>{% if person.nickname %}{{ person.nickname }}{% else %}&nbsp;&nbsp;{% endif %}</span>
                </div>
                <div>
                    <p class="small-label">Email</p>
                    <span>{{ user.email }}</span>
                </div>
            </div>
            <div class="center">
                <button type="button" class="edit-profile" onclick="location.href='{% url 'tsv:edit_profile' %}'">Edit Profile</button>
            </div>
        </div>
        <div class="mytoday-box">
            {% for t in today %}
                {{ t.answer_date }}
            {% endfor %}
        </div>
    </div>
{% endblock %}