{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="my-page-container">
        <div class="left">
            DashBoard
        </div>
        <div class="profile-box">
            <div class="center">
                {% if person.profile.image %}
                    <img src="{{ person.image.url }}" width="90" height=90>
                {% else %}
                    <img src="{% static 'images/profile_image.png' %}" width="90" height="90">
                {% endif %}
            </div>
            <p>UserName: {{ person.username }}</p>
            <p>Name: {{ person.nickname }}</p>
        </div>
    </div>
{% endblock %}