{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="center">
        <span>오늘의 날씨는 어떤가요?</span>
    </div>
    <form method="post" class="answer-form">
            {% csrf_token %}
            {% include 'form_errors.html' %}
            <ul>
                <li>
                    <input type="radio" value="sunny" id="sunny" name="weather" />
                    <label for="sunny"><img src='{% static 'images/sunny.png' %}' width="100" height="100" /></label>
                </li>
                <li>
                    <input type="radio" value="cloudy" id="cloudy" name="weather" />
                    <label for="cloudy"><img src='{% static 'images/cloudy.png' %}' width="100" height="100" /></label>
                </li>
                <li>
                    <input type="radio" value="rainy" id="rainy" name="weather" />
                    <label for="rainy"><img src='{% static 'images/rainy.png' %}' width="100" height="100" /></label>
                </li>
                <li>
                    <input type="radio" value="snowy" id="snowy" name="weather" />
                    <label for="snowy"><img src='{% static 'images/snowy.png' %}' width="100" height="100" /></label>
                </li>
                <li>
                    <input type="radio" value="windy" id="windy" name="weather" />
                    <label for="windy"><img src='{% static 'images/windy.png' %}' width="100" height="100" /></label>
                </li>
            </ul>
        <div class="center">
            <button type="submit" class="next_btn">NEXT</button>
        </div>

    </form>

{% endblock %}
