{% extends 'base.html' %}
{% block content %}
    <div class="center">
        <h3>Sign up</h3>
    </div>
    <form method="post" class="login_form">
            {% csrf_token %}
            {% include 'form_errors.html' %}
                <input class="username_input" type="text" placeholder="Enter username" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
                <input type="password" placeholder="Enter password" name="password1" id="password1" value="{{ form.password.value|default_if_none:'' }}">
                <input type="password" placeholder="Confirm password" name="password2" id="password2" value="{{ form.password2.value|default_if_none:'' }}">
                <input type="email" placeholder="Enter email" name="email" id="email" value="{{ form.email.value|default_if_none:'' }}">
        <button type="submit" class="login_btn">Sign up</button>
    </form>
    <span class="login_bottom_text">회원이십니까?&nbsp;&nbsp;<a class="go_signup" href="{% url 'common:login' %}">로그인</a></span>
{% endblock %}