{% load static %}
<div class="navbar">
    <img class="logo" src="{% static 'images/todaySv.png' %}" width="90" height="60" onclick="location.href='{% url 'tsv:index' %}'" />
    <div class="right">
        {% if user.is_authenticated %}
        <a class="username_txt" href="#my_page">{{ user.username }}님</a>
        <a class="logout_txt" href="{% url 'common:logout' %}">Sign out</a>
        {% else %}
        <a class="login_txt" href="{% url 'common:login' %}">Sign in</a>
        {% endif %}
    </div>
</div>